<div class="form_frame max-wid500">
  <h3>アカウントの削除</h3>
  <p>退会する場合は次のボタンを押して下さい。</p>
  <div class="btn btn_delete">
    <a href="<%= registration_url(resource_name) %>" data-method="delete" data-confirm="本当に退会してもよろしいですか？">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <span>退会する</span>
    </a>
  </div>
</div>