.container-navibar {
    position: fixed !important;
    z-index: 1;
    width: 100%;
    background-color: #043c78;
    border-radius: 0;
    border-bottom: solid 1px #202f55;
    box-shadow: 0px 3px 5px rgba(0,30,67,0.8);
    margin: 0;
    padding: 3px 0 0 0;
}

.container-main {
    @media screen and (max-width:767px) { 
        padding: 30px 0 0 0;
    }
    @media screen and (min-width:768px) and (max-width:991px) { 
        padding: 40px 0 0 0;
    }
    @media screen and (min-width:992px) {
        padding: 50px 0 0 0;
    }
    width: 100%;
    margin: 0;
}

.container-footer {
    width: 100%;
    background-color: #043c78;
    border-radius: 0;
    border-bottom: solid 1px #202f55;
    box-shadow: 0px 0px 5px rgba(0,30,67,0.8);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container-default {
    @media screen and (max-width:767px) { 
        padding: 5px 0 10px 0;
    }
    @media screen and (min-width:768px) and ( max-width:991px) {
        padding: 15px 0;
    }
    @media screen and (min-width:992px) {
        padding: 20px 0;
    }
    text-align: center;
    overflow: scroll;
}