.form_frame {
    width: 90%;
    margin: 0 auto 30px auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 10px 0 25px 0;
    h3 {
        font-size: 1.2em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0 0 20px 0;
        }
    }
}

.form_label {
    width: 85%;
    text-align: left;
    margin: 0 auto;
    padding: 5px 0;
    label {
        margin: 0 0 0 4px;
    }
}

.input_field {
    width: 85%;
    border: solid 1px #aaaaaa;
    border-radius: 4px;
    margin: 0;
    padding: 10px;
}

.form_footer {
    text-decoration: none;
    margin: 20px 0 5px 0;
    a {
        color: #666666;
    }
    a:hover {
        color: #e73562;
    }
}

.footer-link-to-login {
    margin: 25px auto 0px auto;
    padding: 5px;
    a {
        text-decoration: underline;
        font-size: 14px;
        color: #192f60;
    }
    a:hover {
        color: #e73562;
    }
}